<div id="page-wrap">
  <!-- Authenticated User View -->
  <div id="max-width-column" *ngIf="user$ | async as user">
    <app-nav-bar></app-nav-bar>
    <div id="content-wrap">
      <router-outlet></router-outlet>
    </div>
    <button (click)="signOutClicked()">Sign Out</button>
  </div>

  <!-- Unauthenticated User View -->
  <div id="max-width-column" *ngIf="!(user$ | async)">
    <h1>You need to sign in first</h1>
    <button (click)="signInClicked()">Sign in with Google</button>
  </div>
</div>
